
body {
    padding-bottom: 30px;
    background:url("images/milky-way.jpg");
}
.jumbotron {
    background:url("images/milky-way.jpg");
    
    color: white;
    
}
.jumbotron.caption {
    font-size: 40px;
}
.well {
    margin: 20px 20px 30px 30px;
    background-color: #333;
}
.well img {
    margin:auto;
}
.well img:hover {
    outline: 5px solid aqua;
    outline-offset: 5px;
}

.caption {
    
    text-align: center;
    padding-top: 30px;
    font-weight:bold;
    font-family: fantasy;
  
}
.caption p {
    font-weight: bold;
   color: aqua;
   font-size: 40px;
   border-top: 3px solid aqua;
 

    
}
footer {
    background-color: #333;
    height: 100px;
    margin-top:0;
    border-top: 3px solid aqua;
    color: white;
}
footer a {
    color: white;
    text-decoration: none;
}

.navbar {
    margin-bottom: 0px;
    border-bottom: 3px solid aqua;
}
.panel{
    background-color: #333;
}
form {
    padding: 20px;
}
label {
    line-height: 35px;
    font-size: 30px;
   
}
button:hover {
    outline: 3px solid aqua;
    outline-offset: 2px;

  
}

h1 {
    padding-left: 10px;
    font-weight: bold;
    border-bottom: 3px solid aqua;
}
h2 {
    border-bottom: 3px solid aqua;
    font-weight: bold;
    margin-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    color: white;
}

a img {
    padding: 10px;
    margin:15px;
    align: center;
}

a img:hover {
    outline: 5px solid aqua;
    outline-offset: 2px;
    
}
nav li:hover {
 border-left: 3px solid aqua;
 font-size: 25px;   
 font-weight: bold; 
}
.navbar-brand:hover {
    font-size: 40px;
    border-right: 4px solid aqua;
     
}
#bottomBox {
    width: 100%;
}
#bottomBox li {
    margin-left: 30px;
    margin-right: 30px;
}


@media (max-width: 650px) {
#bottomBox {
 width:90%;
 }
 #bottomBox img {
     margin: auto;
 }
 
}

@media (max-width: 767px) {
  .well img {
      margin:auto;
  }  
}