
body {
    padding-bottom: 120px;
    background:url("images/milky-way.jpg");
}
.jumbotron {
    background:url("images/milky-way.jpg");
    
    color: white;
    
}
.jumbotron.caption {
    font-size: 40px;
}
.well {
    padding-top: 40px;
    margin: 20px 20px 30px 30px;
    background-color: #333;
}
.well img {
    margin:auto;
    height: 400px;
    width: 400px;
    padding: 0;
}



.well img:hover {
    outline: 5px solid aqua;
    outline-offset: 5px;
}

.caption {
    
    text-align: center;
    padding-top: 30px;
    font-weight:bold;
    font-family: fantasy;
  
}
.caption p {
    font-weight: bold;
   color: aqua;
   font-size: 40px;
   border-top: 3px solid aqua;
}




footer {
    background-color: #333;
    height: 100px;
    margin-top:0;
    border-top: 3px solid aqua;
    color: white;
}
footer p {
    font-size: 18px;
    padding-top: 40px;
}
footer a {
    color: white;
    text-decoration: none;
}

.navbar {
    margin-bottom: 0px;
    border-bottom: 3px solid aqua;
}
.panel{
    background-color: #333;
}
form {
    padding: 20px;
}
label {
    line-height: 35px;
    font-size: 30px;
   
}
button:hover {
    outline: 3px solid aqua;
    outline-offset: 2px;

  
}

h1 {
    padding-left: 10px;
    font-weight: bold;
    border-bottom: 3px solid aqua;
}
h2 {
    border-bottom: 3px solid aqua;
    font-weight: bold;
    margin-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    color: white;
}

a img {
    padding: 10px;
    margin:15px;
    align: center;
}

a img:hover {
    outline: 5px solid aqua;
    outline-offset: 2px;
    
}
.navbar-right li:hover {
 border-left: 3px solid aqua;
 font-size: 25px;   
 font-weight: bold; 
}
.navbar-brand:hover {
    font-size: 40px;
    border-right: 4px solid aqua;
     
}

#socialLinks {
    height: 60px;
    
    
}
#socialLinks img {
    height: 70px;
}
.list-inline {
    margin-left: -45px;
}
.btn-group {
    bottom: 15px;
}

/*media queries*/
@media (max-width: 767px) {
  .well img {
      margin:auto;
  }  
  a img:hover {
      outline: 2px solid aqua;
      outline-offset: -5px;
  }
  .btn-group {
      
  }
  #pageLinks {
      margin-top: 30px;
  }
  footer p {
    padding: 10px;
    font-size: 12px;
 }
}
@media (max-width:450px){
    #socialLinks img {
        height: 50px;
    }
    .btn-group {
        width: 360px;
    }
    
    .navbar-brand:hover {
        font-size: 25px;
    }
}
@media (min-width: 1430px){
    .btn-group {
        margin-bottom: 30px;
    }
    #pageLinks {
        padding-top: 16px;
    }
    .navbar-inverse {
        height: 70px;
    }
   
}