body {
    padding-bottom: 20em;
}

h1 {
    font-size: 60px;
    font-weight: bolder;
    text-shadow: .02em .02em .02em white;
    

}

h3 {
    font-family: 'Press Start 2P', cursive;
    text-shadow: 0.06em 0.06em 0.06em grey;
    padding-bottom: 1em;
}

h4 {
    border-top: .1em solid white;
    padding-top: 1em;
    padding-left: 1em;
}

header {
    background: #333;
    color: white;
}

.me {
    height: 12em;
    margin: 1em auto;
    border-radius: 49%;
    padding-top: .1em;
    border: .5em solid white;
    position: absolute;
    
}

.blurb {
    text-align: center;
    color: white;
    font-family: 'Sacramento', cursive;  
    padding-right: 1.5em;
    margin-left: -1em; 
}

.blurb p {
    font-size: 1em;
    font-family: cursive;
}

.well {
    background-color: rgba(76, 125, 189, 0.555);
    
}

.tech {
    background-color: #f8f8ffdc;
    border-radius: 1em;    
}

.tech ul {
    margin: 0 auto;
    padding-left: 0;
}

.tech img {
    width: 5em;
    padding: .2em;
}

.tech a {
   box-shadow: .05em 0.05em 0.5em rgba(38, 78, 116, 0.616);
   padding: 0 .1em;
   border-radius: .5em;
   position: relative;
   bottom: 0.2em;
}

.portfolio {
    height: 10em;
    
    margin: .5em;
    border-radius: 1em;
    border: .2em solid white;
}

.project .row {
  
    margin: .5em;
}


footer {
    background-color:#333;
}

.social {
    margin: 0 auto;
        
}

.social img {
    height: 2.5em;
    margin: 0 auto;
    position: relative;
    right: 2em;
}

.copy{
    color: white;
    position: relative;
    right: 2em;
}

@media(min-width:475px){
    .me{
        left: 4em;
    } 
    header {
        height: 14em;
    }
    .social {
        /* left: 10em; */
    }
}

@media (min-width:750px) {
    .content {
        width: 75%;
    }
    .portfolio {
        height: 15em;
    }
    .tech img {
        width: 6em;
    }
    .tech ul {
        padding-left: 5em;
    }

   .social {
       /* left: 20em; */
   }

    /* .social img {
        right: -8em;
    } */
}

@media (min-width:1200px) {
    .me {
        left: 0;
        right: 4em; 
        position: relative;
        top: 6em;
    }
    .blurb {
        position: relative;
        top: 5em;
        right: 10em;
    }
}

/* @media (min-width:750px) {
      .me {
        
        top: 7em;
        right:3em;
    }
} */

