body {
    padding-bottom: 20em;
}

header {
    background: #333;
    color: white;
}

.me {
    height: 12em;
    margin: 0 auto;
    border-radius: 2em;
}

.blurb {
    text-align: center;
    color: white;
}

.well {
    background-color: rgba(76, 125, 189, 0.555);
}

.tech {
    background-color: #f8f8ffdc;
}

.tech img {
    width: 3em;

}

.portfolio {
    height: 10em;
    margin: .5em;
}

.project .row {
    border: .1em solid #333;
    margin: .3em;
}


footer {
    background-color:#333;
}

.social {
    margin: 0 auto;
    
}

.social img {
    height: 3em;
    margin: 0 auto;
}

.copy{
    color: white;
}

@media (min-width:750px) {
    .content {
        width: 75%;
    }
    .portfolio {
        height: 15em;
    }
    .tech img {
        width: 6em;
    }
}

