body {
    padding-bottom: 20em;
}

header {
    background: #333;
    color: white;
}

.me {
    height: 12em;
    margin: 1em auto;
    border-radius: 2em;
    border: .2em solid white;
    
}

.blurb {
    text-align: center;
    color: white;
}

.well {
    background-color: rgba(76, 125, 189, 0.555);
    
}

.tech {
    background-color: #f8f8ffdc;
    border-radius: 1em;
    
}

.tech ul {
    margin: 0 auto;
    padding-left: 0;
}

.tech img {
    width: 5em;
    

}

.portfolio {
    height: 9em;
    margin: .5em;
    border-radius: 1em;
    border: .2em solid white;
}

.project .row {
  
    margin: .3em;
}


footer {
    background-color:#333;
}

.social {
    margin: 0 auto;
        
}

.social img {
    height: 2.5em;
    margin: 0 auto;
    position: relative;
    right: 2em;
}

.copy{
    color: white;
}

@media (min-width:750px) {
    .content {
        width: 75%;
    }
    .portfolio {
        height: 15em;
    }
    .tech img {
        width: 6em;
    }
    .tech ul {
        padding-left: 5em;
    }

    /* .social img {
        right: -8em;
    } */
}

